/* Reset and font styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif; /* Use Poppins consistently for all elements */
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url('../Images/Mexican169Chef.png'); 
  background-size: cover;
  background-position: center;
}

/* Transparent background box styles */
.transparent-background {
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 40px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 800px; 
  margin: 0 auto; 
}

/* Heading styles */
h1, h3 {
  margin: 10px 0;
  font-weight: bold; 
}

/* Button container styles */
.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Button styles */
button {
  padding: 10px 20px;
  background-color: black; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Anchor within button styles */
button a {
  color: white; 
  text-decoration: none; 
  transition: color 0.3s ease;
}

/* Button hover effect */
button:hover {
  background-color: #424242; 
}

button a:hover {
  color: rgb(143, 143, 168); 
}

/* Paragraph styles */
p {
  margin: 20px 0;
}

/* Anchor button styles */
.button-link {
  padding: 10px 20px;
  background-color: black; 
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease all 0.6s;
}

/* Anchor button hover effect */
.button-link:hover {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5 );
 
}
